{% extends "auctions/layout.html" %}

{% block body%}
    {%if error%}
        {{error}}
    {%endif%}
   
    {% for listing in items%}
        <div class="shadow p-3 mb-5 bg-body rounded">   
                    <div class="row justify-content-start">
                        <div class="col-4">
                                <img src="{{listing.image}}" class="img-thumbnail" alt="Image Not Available" width="600" height="800">
                        </div>
                        <div class="col-4">
                            <strong>{{listing.title}}</strong><br>
                            Category : {{listing.category}}<br>
                            Details : {{listing.description}}<br>
                            Biding Price: {{listing.startbid}}
                        </div>
                    </div>
                </div>
    {%endfor%}
   
 
{% endblock %}